@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vendor/material-design-icons/iconMaterialIcons-Regular.eot?e79bfd88537def476913f3ed52f4f4b3); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/fonts/vendor/material-design-icons/iconMaterialIcons-Regular.woff2?570eb83859dc23dd0eec423a49e147fe) format('woff2'),
       url(/fonts/vendor/material-design-icons/iconMaterialIcons-Regular.woff?012cf6a10129e2275d79d6adac7f3b02) format('woff'),
       url(/fonts/vendor/material-design-icons/iconMaterialIcons-Regular.ttf?a37b0c01c0baf1888ca812cc0508f6e2) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.material-icons {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.material-icons.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fade-enter-active,
.fade-leave-active {
  max-height: 230px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  max-height: 0;
  opacity: 0;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item.active {
  background: #ffff00;
}

