.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.material-icons {
  transition: all 0.4s ease-out;
}

.material-icons.open {
  transform: rotate(90deg);
}

.fade-enter-active,
.fade-leave-active {
  max-height: 230px;
  transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  max-height: 0;
  opacity: 0;
}

.wrap {
  display: flex;
}

.item.active {
  background: #ffff00;
}
