/* Effects */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.material-icons {
  transition: all 0.4s ease-out;
}

.material-icons.open {
  transform: rotate(90deg);
}

.fade-enter-active,
.fade-leave-active {
  max-height: 230px;
  transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  max-height: 0;
  opacity: 0;
}

/* Generic */
.left-menu {
  background: $light;
  padding: 1em;
}

.menu-list a {
  align-items: center;
  display: flex;
}

.menu-list a:hover {
  background: $grey-lighter;
}

.menu-icon {
  margin-left: 0.4em;
}

.menu-list a.is-active {
  background: $cyan;
}
