.product {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.product.complete {
  opacity: 1;
}

.product .image img {
  height: auto;
  max-height: 320px;
  width: auto;
}

.product .content {
  margin-top: 1.5rem;
}

.product .delete {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
